@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
nav {
  background-color: black;
  color: white;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-family: "Mukta", sans-serif;
}
nav ul {
  list-style-type: none;
}
.gameContainer {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  position: relative;
}
.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(241, 236, 244);
}
.gameInfo {
  padding: 40px;
}
.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}
.imgBox img {
  width: 0;
  transition: width 1s ease-in-out;
}
#reset {
  margin: 9px 23px;
  padding: 6px 15px;
  background-color: black;
  color: white;
  border: 3px solid black;
  border-radius: 15px;
}
.info {
  font-size: 22px;
}
@media screen and (max-width: 950px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin: 10px 0px;
  }
}
